body{
    background-image: url(../img/bgcss.jpg);
}

#img1{
    width: 100%;
    height: auto;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.paragrafo1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 14px;
}

.paragrafo2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

main{
    width: 100%;
    height: 750px;
}

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: darkgreen;
    color: darkgrey;
    padding-top: 3%;
}